/*navigation css*/
#tabs {
	margin: 0;
	padding: 0;
	text-align: right;
	margin-top: 10px;
}

#tabs li {
list-style-type: none;
}

#tabs a {
	text-decoration: none;
	font-family: 'Marcellus', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #596365;
}

#tabs a:hover {
	text-decoration: none;
	font-family: 'Marcellus', serif;
	font-size: 24.3px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #000;

}

/*html css*/
body {
    background-color: #FFFFFF;
    margin: 70px;
    border-right-style: solid;
    padding-right:10px
}


h1 {
    color: black;
    font-family: 'Marcellus', sans-serif ;
}

h2 {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

h3 {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
		margin-left: 20px;
}

h4 {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

h5 {
    color: black;
      font-family: 'Nanum Gothic', sans-serif;
}

li{
    list-style: none;
}

p {
    font-family: 'Marcellus', serif;
}


li{
    list-style: none;
 }

/* unvisited link */
a:link {
color: grey;
text-decoration: underline;
}

/* visited link */
a:visited {
color: blue;
}

/* mouse over link */
a:hover {
color: red;

}


/*table css*/

/*index page css*/

.line {
        margin-top: 40px;
}

.indextext {
        font-size:45px;
        color: black;
        display: inline;
        position: relative;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        background-image: linear-gradient(transparent 70%, #E03634 40%);
		background-repeat: repeat-x;
        background-size: 200% 100%;
        transition: background-size 1s ease;
}

.indexintro{
	position:relative;
	margin-left: 2.5em;
	width: 46em;
	height: 32em;
}

.filler{
  position: absolute;
  right: 20em;
  width: 12.5em;
  height: 7.5em;
  top: 15em;
}

#contact {
	top: 10em;
	width: 7em;
	right: 12em;
}
/*education/ page css*/

/*work-experience css*/
